.calendar {
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .calendar-header {
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .title {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .title h2 {
    margin: auto;
  }
  
  .tools {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .tools button {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #ffffff;
    border: none;
  }
  
  .tools button span:hover {
    color: #99cccc;
  }
  
  .calendar-body {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .calendar-day-details {

  }
  
  .table-header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .weekday {
    width: 100px;
    text-align: center;
  }
  
  .table-content {
    display: grid;
    grid-template-columns: repeat(7, auto);
    /* width: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box; */
  }
  
  .calendar-day {
    width: auto;
    height: min(40px);
    position: relative;
    border-top: 1px solid #d6d5d5;
  }
  
  .calendar-day:hover p {
    background-color: var(--grey-color);
    padding: 0.5rem;
    border-radius: 1rem;
  }
  
  .calendar-day p {
    cursor: pointer;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    color: #a6a6a6;
    margin: 0 !important;

  }
  
  .current p {
    color: #000000;
  }
  
  .selected p {
    color: white;
    font-weight: bold;
    background-color: var(--grey-color);
    padding: 0.5rem;
    border-radius: 1rem;
  }

  .today p {
    color: var(--error-color);
    font-weight: bold;
  }

  .today.selected p {
    color: white;
    background-color: var(--error-color);
    font-weight: bold;
  }

  .table-content > .is-during-itinerary {
    background-color: var(--primary-color);
    border-radius: 1rem 0 0 1rem;
  }

  .table-content > .is-during-itinerary ~ .is-during-itinerary {
    border-radius: 0rem;

  }

  .is-during-itinerary:not(:has(~ .is-during-itinerary )) {
    border-radius: 0 1rem 1rem 0 !important;
  }
  .is-during-itinerary p {
    color: white;
  }

  .calendar-day-details input {
    border-radius: 0.2rem;
    border: 1px solid var(--grey-color);
    margin: 0.5rem;
  }


