.create-itinerary{
    width: 400px;
    margin: 0 auto;
}

.create-itinerary h2 {
    text-align: center;
}

.create-itinerary-form label {
    padding-right: 0.5rem;
}

.create-itinerary-form input {
    border-radius: 0.2rem;
    border: 1px solid var(--grey-color);
}

.create-itinerary-form div {
    padding: 0.25rem;
}